/*===== VARIABLES =====*/
/* COLORS */
/*
$light: #FAFAFA !default;
$stable: #F5F5F5 !default;
$positive: #3F51B5 !default;
$calm: #2196F3 !default;
$balanced: #4CAF50 !default;
$energized: #FFC107 !default;
$assertive: #F44336 !default;
$royal: #673AB7 !default;
$dark: #212121 !default;
*/

/* FONTS */
$font-family-sans-serif: "CabinSketchRegular", '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;

@font-face {
    font-family: 'CabinSketchRegular';
    src: url('../css/fonts/CabinSketchRegular.eot');
    src: url('../css/fonts/CabinSketchRegular.eot') format('embedded-opentype'), url('../css/fonts/CabinSketchRegular.woff') format('woff'), url('../css/fonts/CabinSketchRegular.ttf') format('truetype'), url('../css/fonts/CabinSketchRegular.svg#CabinSketchRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* IONICONS */
$ionicons-font-path: "../css/fonts" !default;

/* TABS */
$tabs-height: 54px !default;

/* CARDS */
$card-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !default;
$card-padding: 10px !default;

/* ITEM & ITEM-THUMBNAIL */
$item-padding: 10px !default;
$item-thumbnail-width: 50px !default;
$item-thumbnail-height: 50px !default;
$item-thumbnail-margin: 10px !default;
$item-thumbnail-border-radius: 20% !default;

/* BAR */
$bar-subheader-height: 50px !default; // 2 lines


/*===== MIXIN =====*/
/* TABS */
@mixin tab-style($bg-color, $border-color, $color) {
    border-color: $border-color;
    background-color: $bg-color;
    background-image: linear-gradient(0deg, $border-color, $border-color 50%, transparent 50%);
    color: $color;
    padding-bottom: 0px;
}


/*===== IMPORT =====*/
@import "ionic_parts.scss";


/* ==== SCSS & CSS OVERWRITE ==== */

/* FOR NULL RECORD */
.null {
    color: white;
}

/* TABS */
.tab-item {
    .icon {
        margin: 2px auto;
    }
}

/* CARDS */
.card {
    margin: 15px 0;

    .item, .item-body {
        padding: 10px;
    }

    .item-icon-right {
        padding-right: 34px;
    }

    form label.item {
        padding: 0 10px 5px 10px;
    }
}

card:first-of-type {
    margin-top: 5px;
}

/* BUTTON (OUTLINE USED IN TAGS AND CATEGORIES) */
.button-outline {
    min-height: initial;
}

/* LIST ITEM & ITEM-THUMBNAIL */
.item, .item-content {
    white-space: normal;

    h1, h2, h3, h4, h5, h6, p {
        white-space: normal;
    }
}

.item-thumbnail-left,
.item-thumbnail-left .item-content, .item-thumbnail-right,
.item-thumbnail-right .item-content {

    > img:first-child,
    .item-image {
        border-radius: $item-thumbnail-border-radius;
    }
}


/* BUTTON-BAR (SEC: LANGUAGE) */
.button-bar.complex-sec {
    .button {
        &:first-child, &:last-child {
            border-radius: $button-border-radius;
        }
    }

    a {
        img {
            display: block;
            margin: 10px auto 0 auto;
        }
    }
}

/* FORM */
form {
    .ng-dirty.ng-invalid {
        background-color: $assertive;
        color: white;
    }

    .error-container {
        color: $assertive;
    }

    textarea {
        background-color: transparent;
    }
}

/* UTIL : CENTER */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* UTIL : RIGHT */
.right-float {
    float: right;
}

/* UTIL : MARGIN */
.margin-5px {
    margin: 5px;
}

/* UTIL : NO-MARGIN */
.no-margin {
    margin: 0px !important;
}

.margin-horizonal {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

/* LOADING SPINNER */
.loading-container .loading {
    padding: 10px;

    .spinner {
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }
}

/* TOASTER ANIMATION SPEED */
:not(.no-enter)#toast-container > div.ng-enter,
:not(.no-leave)#toast-container > div.ng-leave {
    transition-duration: .3s;
}
