<ion-view view-title="{{'TAB_TITLE_DASH' | translate }}">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider" translate>{{'DASH_NEWS_TITLE_20160229'}}</div>
            <div class="item item-body">{{'DASH_NEWS_CONTENT_20160229'}}</div>
        </div>
        <div class="list card">
            <div class="item item-divider" translate>{{'DASH_NEWS_TITLE_20160228'}}</div>
            <div class="item item-body">{{'DASH_NEWS_CONTENT_20160228'}}</div>
        </div>
        <div class="list card">
            <div class="item item-divider" translate>{{'DASH_NEWS_TITLE_20160227'}}</div>
            <div class="item item-body">{{'DASH_NEWS_CONTENT_20160227'}}</div>
        </div>
    </ion-content>
</ion-view>
