<ion-view view-title="{{'TAB_TITLE_TAGS' | translate }}">
    <ion-content>
        <a ng-show="tags" class="button button-outline button-positive margin-5px" ng-repeat="tag in tags" ng-if="tag.count" href="#/tab/tagposts/{{tag.slug}}/{{tag.name}}">{{tag.name}}</a>
        <div ng-hide="tags" class="padding" ng-class="{null: !RSempty}">
            <h3>{{'ALERT_RECORD_NULL' | translate}}</h3>
            <button class="button button-calm" ng-click="reload()" translate>{{'REQUEST_RELOAD'}}</button>
        </div>
    </ion-content>
</ion-view>