<ion-view view-title="{{('TAB_TITLE_SETTINGS' | translate)}}">
    <ion-content class="has-header padding">
        <card ng-show="narrowformat" class="card" keyboard-hide>
            <div class="item item-divider" translate>{{'TAB_SETTINGS_SECTION_TITLE_LANGUAGE'}}</div>
            <div class="item item-body">
                <div class="button-bar">
                    <a gp-radio="'de'" ng-model="settings.language"><img src="img/flags/de.png" />{{'\u0044\u0065\u0075\u0074\u0073\u0063\u0068' | unicode }}</a>
                    <a gp-radio="'en'" ng-model="settings.language"><img src="img/flags/us.png" />{{'\u0045\u006e\u0067\u006c\u0069\u0073\u0068' | unicode }}</a>
                </div>
                <div class="button-bar">
                    <a gp-radio="'es'" ng-model="settings.language"><img src="img/flags/es.png" />{{'\u0065\u0073\u0070\u0061\u00f1\u006f\u006c' | unicode }}</a>
                    <a gp-radio="'fr'" ng-model="settings.language"><img src="img/flags/fr.png" />{{'\u0066\u0072\u0061\u006e\u00e7\u0061\u0069\u0073' | unicode }}</a>
                </div>
                <div class="button-bar">
                    <a gp-radio="'hi'" ng-model="settings.language"><img src="img/flags/in.png" />{{'\u0939\u093f\u0928\u094d\u0926\u0940\u002c \u0939\u093f\u0902\u0926\u0940' | unicode }}</a>
                    <a gp-radio="'ja'" ng-model="settings.language"><img src="img/flags/jp.png" />{{'\u65e5\u672c\u8a9e' | unicode }}</a>
                </div>
                <div class="button-bar">
                    <a gp-radio="'pt'" ng-model="settings.language"><img src="img/flags/pt.png" />{{'\u0050\u006f\u0072\u0074\u0075\u0067\u0075\u00ea\u0073' | unicode }}</a>
                    <a gp-radio="'ru'" ng-model="settings.language"><img src="img/flags/ru.png" />{{'\u0440\u0443\u0441\u0441\u043a\u0438\u0439 \u044f\u0437\u044b\u043a' | unicode }}</a>
                </div>
                <div class="button-bar">
                    <a gp-radio="'zh'" ng-model="settings.language"><img src="img/flags/tw.png" />{{'\u4e2d\u6587' | unicode }}</a>
                </div>
            </div>
        </card>

        <card ng-hide="narrowformat" class="card" keyboard-hide>
            <div class="item item-divider" translate>{{'TAB_SETTINGS_SECTION_TITLE_LANGUAGE'}}</div>
            <div class="item item-body">
                <div class="button-bar">
                    <a gp-radio="'de'" ng-model="settings.language"><img src="img/flags/de.png" />{{'\u0044\u0065\u0075\u0074\u0073\u0063\u0068' | unicode }}</a>
                    <a gp-radio="'en'" ng-model="settings.language"><img src="img/flags/us.png" />{{'\u0045\u006e\u0067\u006c\u0069\u0073\u0068' | unicode }}</a>
                    <a gp-radio="'es'" ng-model="settings.language"><img src="img/flags/es.png" />{{'\u0065\u0073\u0070\u0061\u00f1\u006f\u006c' | unicode }}</a>
                </div>
                <div class="button-bar">
                    <a gp-radio="'fr'" ng-model="settings.language"><img src="img/flags/fr.png" />{{'\u0066\u0072\u0061\u006e\u00e7\u0061\u0069\u0073' | unicode }}</a>
                    <a gp-radio="'hi'" ng-model="settings.language"><img src="img/flags/in.png" />{{'\u0939\u093f\u0928\u094d\u0926\u0940\u002c \u0939\u093f\u0902\u0926\u0940' | unicode }}</a>
                    <a gp-radio="'ja'" ng-model="settings.language"><img src="img/flags/jp.png" />{{'\u65e5\u672c\u8a9e' | unicode }}</a>
                </div>
                <div class="button-bar">
                    <a gp-radio="'pt'" ng-model="settings.language"><img src="img/flags/pt.png" />{{'\u0050\u006f\u0072\u0074\u0075\u0067\u0075\u00ea\u0073' | unicode }}</a>
                    <a gp-radio="'ru'" ng-model="settings.language"><img src="img/flags/ru.png" />{{'\u0440\u0443\u0441\u0441\u043a\u0438\u0439 \u044f\u0437\u044b\u043a' | unicode }}</a>
                    <a gp-radio="'zh'" ng-model="settings.language"><img src="img/flags/tw.png" />{{'\u4e2d\u6587' | unicode }}</a>
                </div>
            </div>
        </card>

        <card class="card">
            <div class="item item-divider" translate>{{'TAB_SETTINGS_SECTION_TITLE_CONTACTUS'}}</div>
            <form class="item item-body" name="forms.contactForm" novalidate="" ng-submit="formSubmit()">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label" translate>{{'FORM_LABEL_NAME'}}</span>
                        <input type="text" name="ctName" placeholder="{{'FORM_PLACEHODER_NAME' | translate }}" ng-model="ctForm.ctName" ng-minlength="3" ng-maxlength="50" required>
                    </label>
                    <div class="error-container" ng-show="forms.contactForm.ctName.$dirty" ng-messages="forms.contactForm.ctName.$error" role="alert">
                        <div ng-message="required">{{'FORM_ALERT_NAME_REQUIRED' | translate }}</div>
                        <div ng-message="minlength, maxlength">{{'FORM_ALERT_NAME_LENGTH' | translate }}</div>
                    </div>
                    <label class="item item-input item-floating-label">
                        <span class="input-label" translate>{{'FORM_LABEL_EMAIL'}}</span>
                        <input type="email" name="ctEmail" placeholder="{{'FORM_PLACEHODER_EMAIL' | translate }}" ng-model="ctForm.ctEmail" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
                    </label>
                    <div class="error-container" ng-show="forms.contactForm.ctEmail.$dirty" ng-messages="forms.contactForm.ctEmail.$error" role="alert">
                        <div ng-message="required">{{'FORM_ALERT_EMAIL_REQUIRED' | translate }}</div>
                        <div ng-message="email">{{'FORM_ALERT_EMAIL_INVALID' | translate }}</div>
                        <div ng-message="pattern">{{'FORM_ALERT_EMAIL_INVALID' | translate }}</div>
                    </div>
                    <label class="item item-input item-floating-label">
                        <span class="input-label" translate>{{'FORM_LABEL_MESSAGE'}}</span>
                        <textarea type="text" name="ctMessage" placeholder="{{'FORM_PLACEHODER_MESSAGE' | translate }}" ng-model="ctForm.ctMessage" ng-minlength="10" ng-maxlength="1000" required></textarea>
                    </label>
                    <div class="error-container" ng-show="forms.contactForm.ctMessage.$dirty" ng-messages="forms.contactForm.ctMessage.$error" role="alert">
                        <div ng-message="required">{{'FORM_ALERT_MESSAGE_REQUIRED' | translate }}</div>
                        <div ng-message="minlength, maxlength">{{'FORM_ALERT_MESSAGE_LENGTH' | translate }}</div>
                    </div>
                </div>
                <button class="button button-full button-calm" ng-disabled="forms.contactForm.$pristine || forms.contactForm.$invalid" type="submit" translate>{{'FORM_BUTTON_SEND'}}</button>
            </form>
        </card>
    </ion-content>
</ion-view>