<ion-view>
    <ion-nav-title>
        <img src="img/MOBILE-ICON-50.png" /> {{ 'TAB_TITLE_CATEGORIES' | translate }}
    </ion-nav-title>
    <ion-content>
        <a ng-show="categories" class="button button-outline button-positive margin-5px" ng-repeat="category in categories" ng-if="category.count" href="#/tab/categoryposts/{{category.slug}}/{{category.name}}">{{category.name}}</a>
        <div ng-hide="categories" class="padding" ng-class="{null: !RSempty}">
            <h3>{{'ALERT_RECORD_NULL' | translate}}</h3>
            <button class="button button-positive" ng-click="reload()" translate>{{'BUTTON_REQUEST_RELOAD'}}</button>
        </div>
    </ion-content>
</ion-view>
