<ion-view>
    <ion-nav-title>
        <img src="img/MOBILE-ICON-50.png" /> {{ 'TAB_TITLE_TAGS' | translate }}
    </ion-nav-title>
    <ion-content>
        <a ng-show="tags" class="button button-outline button-positive margin-5px" ng-repeat="tag in tags" ng-if="tag.count" href="#/tab/tagposts/{{tag.slug}}/{{tag.name}}">{{tag.name}}</a>
        <div ng-hide="tags" class="padding" ng-class="{null: !RSempty}">
            <h3>{{'ALERT_RECORD_NULL' | translate}}</h3>
            <button class="button button-positive" ng-click="reload()" translate>{{'BUTTON_REQUEST_RELOAD'}}</button>
        </div>
    </ion-content>
</ion-view>
