<ion-tabs class="tabs-striped tabs-icon-top tabs-stable" keyboard-hide4tabs>
    <!-- Dashboard Tab -->
    <ion-tab title="{{'TAB_TITLE_DASH' | translate }}" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <!-- Posts Tab -->
    <ion-tab title="{{'TAB_TITLE_POSTS' | translate }}" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/posts">
        <ion-nav-view name="tab-posts"></ion-nav-view>
    </ion-tab>
    <!-- Tags Tab -->
    <ion-tab title="{{'TAB_TITLE_TAGS' | translate }}" icon-off="ion-pricetag" icon-on="ion-pricetags" href="#/tab/tags">
        <ion-nav-view name="tab-tags"></ion-nav-view>
    </ion-tab>
    <!-- Categories Tab -->
    <ion-tab title="{{'TAB_TITLE_CATEGORIES' | translate }}" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/categories">
        <ion-nav-view name="tab-categories"></ion-nav-view>
    </ion-tab>
    <!-- Areas Tab -->
    <ion-tab title="{{'TAB_TITLE_AREAS' | translate }}" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/areas">
        <ion-nav-view name="tab-areas"></ion-nav-view>
    </ion-tab>
    <!-- Settings Tab -->
    <ion-tab title="{{'TAB_TITLE_SETTINGS' | translate }}" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
