<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>

      <h4 class="padding">Language</h4>
      <div class="button-bar">
          <a gp-radio="'ar'" ng-model="settings.language"><img src="img/flags/ar.png" />Arabic</a>
          <a gp-radio="'bn'" ng-model="settings.language"><img src="img/flags/bn.png" />Bengali</a>
          <a gp-radio="'de'" ng-model="settings.language"><img src="img/flags/de.png" />Germany</a>
      </div>
      <div class="button-bar">
          <a gp-radio="'en'" ng-model="settings.language"><img src="img/flags/en.png" />Engliash</a>
          <a gp-radio="'es'" ng-model="settings.language"><img src="img/flags/es.png" />Spanish</a>
          <a gp-radio="'fr'" ng-model="settings.language"><img src="img/flags/fr.png" />French</a>
      </div>
      <div class="button-bar">
          <a gp-radio="'hi'" ng-model="settings.language"><img src="img/flags/hi.png" />Hindi</a>
          <a gp-radio="'id'" ng-model="settings.language"><img src="img/flags/id.png" />Indoesian</a>
          <a gp-radio="'ja'" ng-model="settings.language"><img src="img/flags/ja.png" />Japanese</a>
      </div>
      <div class="button-bar">
          <a gp-radio="'ms'" ng-model="settings.language"><img src="img/flags/ms.png" />Malay</a>
          <a gp-radio="'pt'" ng-model="settings.language"><img src="img/flags/pt.png" />Portguese</a>
          <a gp-radio="'ru'" ng-model="settings.language"><img src="img/flags/ru.png" />Russian</a>
      </div>
      <div class="button-bar">
          <a gp-radio="'ur'" ng-model="settings.language"><img src="img/flags/ur.png" />Urdu</a>
          <a gp-radio="'zh'" ng-model="settings.language"><img src="img/flags/tw.png" />Chinese</a>
      </div>
      <div class="list">
          <label class="item item-input item-floating-label">
              <span class="input-label">First Name</span>
              <input type="text" placeholder="First Name">
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">Last Name</span>
              <input type="text" placeholder="Last Name">
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Email">
          </label>
      </div>
  </ion-content>
</ion-view>
